table {
    /* border-collapse: collapse; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  th, td {
    text-align: left  !important;
  }
  
  tbody tr:nth-child(odd) {
    background: #eee;
  }

.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont a{
    display: block;
}

